
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  border-top: 12px #f8f9fa solid;
}

body.online {
  border-top: 12px #65b338 solid;
}

body.offline {
  border-top: 12px #b23838 solid;
}

#container {
  max-width: 400px;
  padding-top: 20px;
}

#saved ul .date {
  font-size: 0.8em;
  color: #444;
}
